/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #C0DBD9;
}

.header__block {
    position: relative;
    max-width: 1170px;
    height: 100px;
    margin: 0 auto;
    background-color: #7FAFF6;
}

.header__btn {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #A5C7F9;
    color: #fff;
}

.block1 {
    margin-top: 15px;
}

.block1__content {
    max-width: 1170px;
    height: 411px;
    margin: 0 auto;
    background-color: #B3F95A;
}

.content-grid {
	display: grid;
	grid-template-rows: repeat(2, 198px);
	grid-template-columns: minmax(390px 590px 160px);
	gap: 15px;
	width: 100%;
	height: 100%;
    color: #fff;
}

.content-grid_block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 53px;
}

#div1 {
	grid-area: 1/1/2/2;
	background-color: #8AD191;
}
#div2 {
	grid-area: 1/2/2/3;
	background-color: #8AD191;
}
#div3 {
	grid-area: 1/3/2/4;
	background-color: #8AD191;
}
#div4 {
	grid-area: 2 / 1 / 3 / 3;
	background-color: #8AD191;
}
#div5 {
	grid-area: 2/3/3/4;
	background-color: #8AD191;
}

.block2 {
    margin-top: 15px;
    margin-bottom: 100px;
}

.block2__content {
    max-width: 1170px;
    max-height: 259px;
    padding: 30px;
    margin: 0 auto;
    background-color: #88B5BF;
}

.content-grid2 {
    display: grid;
    grid-template-columns: minmax(255px);
    grid-template-rows: minmax(100px, 199px);
    grid-column-gap: 30px;
  }
  
  .content-grid2_block1 {
    grid-area: 1 / 1 / 2 / 2;
    background: #0D89B0;
  }
  .content-grid2_block2 {
    grid-area: 1 / 2 / 2 / 3;
    background: #0D89B0;
  }
  .content-grid2_block3 {
    grid-area: 1 / 3 / 2 / 4;
    background: #0D89B0;
  }
  .content-grid2_block4 {
    grid-area: 1 / 4 / 2 / 5;
    background: #0D89B0;
  }

  .footer {
    margin: 0 auto;
    max-width: 1170px;
    height: 100px;
    background-color: #7FAFF6;
  }


  /* btn */
 
    a {
        color: #fff;
    }

/* Стили всплывающего окна по-умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
   pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */ 
.modal-content {
    position: relative;
    display: flex;
    min-height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

/* Стили кнопки "х" ("Закрыть")  */
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #7FAFF6;
    float: right;
    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}
/* Стили блока основного содержимого окна */
.modal-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 53px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
}

@media(max-width:410px){
    .modal-body{
        font-size: 32px;
    }
}